.checked{
    text-decoration: line-through;
    background-color: grey;
}

.todo-item {
    text-align: center;
    border: 2px solid black;
    padding: 4px;
}

.todo {
    display: inline-block;
}

.todo-item:nth-child(even) {
    border-top: none;
}