img{
    padding: 0.5em;
    margin: 0.5em 1em;
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.column{
    display: flex;
    flex-flow: column;
}

#my-list{
    background-color: #9e93e6;
    align-self: center;
    padding-right: 10px;
}

#my-list > li:nth-child(odd){
    color: purple;
}

#paragraph-container{
    color: red;
}

#login-form{
    display: inline-block;
}

#login-button{
    display: inline-block;
    margin-top: 10px;
    align-self: center;
}

h1{
    text-align: center;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead{
    text-align: center;
    font-weight: bold;
}

td, th {
    border: 1px solid #8e8484;
    padding: 8px;
}

tbody > td, th{
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}