.hidden{
    display: none;
}

.delete-button{
    position: absolute;
    right: 30px;
}

.post{
    border: 2px solid black;
    padding: 0px 20px 20px 20px;
    background-color: lightgrey;
}

.post:nth-child(even){
    margin-top: 20px;
}