.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#row1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#row2{
    width: 100%;
    display: flex;
}

.box{
    border: 1px solid black;
    padding: 20px;
}

#row1 .box{
    background-color: greenyellow;
}

#row2 .box{
    background-color: red;
    flex-grow: 1;
}

#row2 .box:nth-child(2){
    flex-grow: 2.6;
}