.nav-link {
    color: white;
    padding: 20px;
    text-decoration: none;
}

a.nav-link:hover {
    background-color: white;
    color: black;
}

.nav{
    background-color: black;
    color: white;
    display: flex;
}