.calculator{
    display: inline-grid;
    grid-template-areas: 
    'screen screen screen screen'
    'plus minus multiply divide'
    '. . . equals'
    '. . . equals'
    '. . . equals'
    '0 dot c equals';
}

.calculator__button {
    padding: 20px;
    border: 1px solid black;
}

.calculator__screen {
    padding: 20px;
    border: 1px solid black;
    grid-area: screen;
}

#equals {
    grid-area: equals;
}