.nav-link:hover, .nav-link.active{
    background-color: white;
    color: black;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.song-container{
    display: flex;
}

.search-input {
    margin-right: 10px;
}