.row{
    display: flex;
    flex-direction: row;
}

.board{
    
}

.column{
    display:flex;
    flex-direction: column;
}

.box{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}