.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 30px;
}

.grid > div{
    background-color: red;
    border: 1px solid black;
}

.grid > div{
    grid-row: span 3;
}

.grid div:nth-child(6){
    grid-column: span 3;
}

.grid div:nth-child(n+6){
    background-color: rgb(43, 176, 43);
}

.grid div:nth-child(7){
    grid-row: span 7;
}


