.board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.square{
    border: 2px black solid;
    height: 20px;
    width: 20px;
    text-align: center;
}

.row{
    width: 100%;
    display: flex;
}