.row{
    display: flex;
    flex-direction: row;
}

.column{
    display:flex;
    flex-direction: column;
}

.card{
    width: 30px;
    height: 80px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px 0 0;
}

.hidden{
    display: none;
}

.guessed{
    background-color:lightgreen;
}