#layout{
    height: 600px;
}

#layout div:hover{
    background-color: yellow;
}

.top{
    background-color: red;
}

#top{
    background-color: red;
    height: 20%;
}

#left{
    background-color: green;
    float: left;
}

#right{
    background-color: blue;
    float: right;
}

#left, #right{
    width: 50%;
    height: 80%;
}
