.board{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.board__piece{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

.board__piece.empty{
    /* display: none; */
}