.form-header{
    margin: 0;
}

.form-data{
    display: inline-block;
}

.form-data .form-data__item:nth-child(n+1){
    margin-top: 3px;
}

#BAC-result {
    border: 2px solid black;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}